<a href="https://colab.research.google.com/github/TonnBH/APPML_Projects/blob/main/sus_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Número de Leitos Disponiveis Pelos SUS nos Ultimos Cinco Anos

A inteção deste projeto é fazer uma comparação com o número de leitos no sistema unico de Saude, o SUS com o objetivo de comparar e saber sobre os investimentos em leitos no ultimos anos pelos ultimos governos.

In [63]:
import pandas as pd

In [64]:
from google.colab import files

A minha intenção é importar cada banco de dados separadamente por ano, para podermos obter mais informações que sejam relevantes para o projeto; e tambem excluir colunas que não tenham relevancia.

In [65]:
#df_23 = pd.read_csv('/content/drive/MyDrive/ML_Projects/SUS_Project/Datasets/Leitos/Leitos_2023.csv',sep=',',index_col="COMP")
df_22 = pd.read_csv('/content/drive/MyDrive/ML_Projects/SUS_Project/Datasets/Leitos/Leitos_2022.csv', sep=',',index_col="COMP")
df_21 = pd.read_csv('/content/drive/MyDrive/ML_Projects/SUS_Project/Datasets/Leitos/Leitos_2021.csv', sep=',',index_col="COMP")
df_20 = pd.read_csv('/content/drive/MyDrive/ML_Projects/SUS_Project/Datasets/Leitos/Leitos_2020.csv', sep=',',index_col="COMP")
df_19 = pd.read_csv('/content/drive/MyDrive/ML_Projects/SUS_Project/Datasets/Leitos/Leitos_2019.csv', sep=',',index_col="COMP")
df_18 = pd.read_csv('/content/drive/MyDrive/ML_Projects/SUS_Project/Datasets/Leitos/Leitos_2018.csv', sep=',',index_col="COMP")
df_17 = pd.read_csv('/content/drive/MyDrive/ML_Projects/SUS_Project/Datasets/Leitos/Leitos_2017.csv', sep=',',index_col="COMP")
df_16 = pd.read_csv('/content/drive/MyDrive/ML_Projects/SUS_Project/Datasets/Leitos/Leitos_2016.csv', sep=',',index_col="COMP")
df_15 = pd.read_csv('/content/drive/MyDrive/ML_Projects/SUS_Project/Datasets/Leitos/Leitos_2015.csv', sep=',',index_col="COMP")
df_14 = pd.read_csv('/content/drive/MyDrive/ML_Projects/SUS_Project/Datasets/Leitos/Leitos_2014.csv', sep=',',index_col="COMP")
df_13 = pd.read_csv('/content/drive/MyDrive/ML_Projects/SUS_Project/Datasets/Leitos/Leitos_2013.csv', sep=',',index_col="COMP")

Eliminando colunas desnecessarias

In [66]:
df_13.drop(["RAZAO SOCIAL", "TP_GESTAO","CO_TIPO_UNIDADE","CNES","CO_CEP","NO_EMAIL","NU_TELEFONE","NO_COMPLEMENTO","MOTIVO DESABILITACAO","UTI ADULTO - EXIST","UTI ADULTO - SUS","UTI NEONATAL - EXIST","UTI NEONATAL - SUS","UTI QUEIMADO - EXIST","UTI QUEIMADO - SUS","UTI CORONARIANA - EXIST","UTI CORONARIANA - SUS"], axis=1, inplace=True)
df_14.drop(["RAZAO SOCIAL", "TP_GESTAO","CO_TIPO_UNIDADE","CNES","CO_CEP","NO_EMAIL","NU_TELEFONE","NO_COMPLEMENTO","MOTIVO DESABILITACAO","UTI ADULTO - EXIST","UTI ADULTO - SUS","UTI NEONATAL - EXIST","UTI NEONATAL - SUS","UTI QUEIMADO - EXIST","UTI QUEIMADO - SUS","UTI CORONARIANA - EXIST","UTI CORONARIANA - SUS"], axis=1, inplace=True)
df_15.drop(["RAZAO SOCIAL", "TP_GESTAO","CO_TIPO_UNIDADE","CNES","CO_CEP","NO_EMAIL","NU_TELEFONE","NO_COMPLEMENTO","MOTIVO DESABILITACAO","UTI ADULTO - EXIST","UTI ADULTO - SUS","UTI NEONATAL - EXIST","UTI NEONATAL - SUS","UTI QUEIMADO - EXIST","UTI QUEIMADO - SUS","UTI CORONARIANA - EXIST","UTI CORONARIANA - SUS"], axis=1, inplace=True)
df_16.drop(["RAZAO SOCIAL", "TP_GESTAO","CO_TIPO_UNIDADE","CNES","CO_CEP","NO_EMAIL","NU_TELEFONE","NO_COMPLEMENTO","MOTIVO DESABILITACAO","UTI ADULTO - EXIST","UTI ADULTO - SUS","UTI NEONATAL - EXIST","UTI NEONATAL - SUS","UTI QUEIMADO - EXIST","UTI QUEIMADO - SUS","UTI CORONARIANA - EXIST","UTI CORONARIANA - SUS"], axis=1, inplace=True)
df_17.drop(["RAZAO SOCIAL", "TP_GESTAO","CO_TIPO_UNIDADE","CNES","CO_CEP","NO_EMAIL","NU_TELEFONE","NO_COMPLEMENTO","MOTIVO DESABILITACAO","UTI ADULTO - EXIST","UTI ADULTO - SUS","UTI NEONATAL - EXIST","UTI NEONATAL - SUS","UTI QUEIMADO - EXIST","UTI QUEIMADO - SUS","UTI CORONARIANA - EXIST","UTI CORONARIANA - SUS"], axis=1, inplace=True)
df_18.drop(["RAZAO SOCIAL", "TP_GESTAO","CO_TIPO_UNIDADE","CNES","CO_CEP","NO_EMAIL","NU_TELEFONE","NO_COMPLEMENTO","MOTIVO DESABILITACAO","UTI ADULTO - EXIST","UTI ADULTO - SUS","UTI NEONATAL - EXIST","UTI NEONATAL - SUS","UTI QUEIMADO - EXIST","UTI QUEIMADO - SUS","UTI CORONARIANA - EXIST","UTI CORONARIANA - SUS"], axis=1, inplace=True)
df_19.drop(["RAZAO SOCIAL", "TP_GESTAO","CO_TIPO_UNIDADE","CNES","CO_CEP","NO_EMAIL","NU_TELEFONE","NO_COMPLEMENTO","MOTIVO DESABILITACAO","UTI ADULTO - EXIST","UTI ADULTO - SUS","UTI NEONATAL - EXIST","UTI NEONATAL - SUS","UTI QUEIMADO - EXIST","UTI QUEIMADO - SUS","UTI CORONARIANA - EXIST","UTI CORONARIANA - SUS"], axis=1, inplace=True)
df_20.drop(["RAZAO SOCIAL", "TP_GESTAO","CO_TIPO_UNIDADE","CNES","CO_CEP","NO_EMAIL","NU_TELEFONE","NO_COMPLEMENTO","MOTIVO DESABILITACAO","UTI ADULTO - EXIST","UTI ADULTO - SUS","UTI NEONATAL - EXIST","UTI NEONATAL - SUS","UTI QUEIMADO - EXIST","UTI QUEIMADO - SUS","UTI CORONARIANA - EXIST","UTI CORONARIANA - SUS"], axis=1, inplace=True)
df_21.drop(["RAZAO SOCIAL", "TP_GESTAO","CO_TIPO_UNIDADE","CNES","CO_CEP","NO_EMAIL","NU_TELEFONE","NO_COMPLEMENTO","MOTIVO DESABILITACAO","UTI ADULTO - EXIST","UTI ADULTO - SUS","UTI NEONATAL - EXIST","UTI NEONATAL - SUS","UTI QUEIMADO - EXIST","UTI QUEIMADO - SUS","UTI CORONARIANA - EXIST","UTI CORONARIANA - SUS"], axis=1, inplace=True)
df_22.drop(["RAZAO SOCIAL", "TP_GESTAO","CO_TIPO_UNIDADE","CNES","CO_CEP","NO_EMAIL","NU_TELEFONE","NO_COMPLEMENTO","MOTIVO DESABILITACAO","UTI ADULTO - EXIST","UTI ADULTO - SUS","UTI NEONATAL - EXIST","UTI NEONATAL - SUS","UTI QUEIMADO - EXIST","UTI QUEIMADO - SUS","UTI CORONARIANA - EXIST","UTI CORONARIANA - SUS"], axis=1, inplace=True)

In [67]:
df_13.columns

Index(['REGIAO', 'UF', 'MUNICIPIO', 'NOME ESTABELECIMENTO', 'DS_TIPO_UNIDADE',
       'NATUREZA_JURIDICA', 'DESC_NATUREZA_JURIDICA', 'NO_LOGRADOURO',
       'NU_ENDERECO', 'NO_BAIRRO', 'LEITOS EXISTENTE', 'LEITOS SUS',
       'UTI TOTAL - EXIST', 'UTI TOTAL - SUS', 'UTI PEDIATRICO - EXIST',
       'UTI PEDIATRICO - SUS'],
      dtype='object')

In [68]:
df_13.dtypes

REGIAO                    object
UF                        object
MUNICIPIO                 object
NOME ESTABELECIMENTO      object
DS_TIPO_UNIDADE           object
NATUREZA_JURIDICA          int64
DESC_NATUREZA_JURIDICA    object
NO_LOGRADOURO             object
NU_ENDERECO               object
NO_BAIRRO                 object
LEITOS EXISTENTE           int64
LEITOS SUS                 int64
UTI TOTAL - EXIST          int64
UTI TOTAL - SUS            int64
UTI PEDIATRICO - EXIST     int64
UTI PEDIATRICO - SUS       int64
dtype: object

In [69]:
df_13.shape

(86183, 16)

Neste passo vou otimizar memoria alterando os tipos objetos para o tipo categoria

REGIAO tipo  object = 5524033 memory usage,       
       REGIAO tipo  category = 86675 memory usage

In [70]:
df_13["REGIAO"] = df_13["REGIAO"].astype ('category')
df_13["UF"] = df_13["UF"].astype ('category')
df_13["MUNICIPIO"] = df_13["MUNICIPIO"].astype ('category')
df_13["NOME ESTABELECIMENTO"] = df_13["NOME ESTABELECIMENTO"].astype ('category')
df_13["DS_TIPO_UNIDADE"] = df_13["DS_TIPO_UNIDADE"].astype ('category')
df_13["DESC_NATUREZA_JURIDICA"] = df_13["DESC_NATUREZA_JURIDICA"].astype ('category')
df_13["NO_LOGRADOURO"] = df_13["NO_LOGRADOURO"].astype ('category')
df_13["NU_ENDERECO"] = df_13["NU_ENDERECO"].astype ('category')
df_13["NO_BAIRRO"] = df_13["NO_BAIRRO"].astype ('category')
df_13["NO_BAIRRO"] = df_13["NO_BAIRRO"].astype ('category')

df_14["REGIAO"] = df_14["REGIAO"].astype ('category')
df_14["UF"] = df_14["UF"].astype ('category')
df_14["MUNICIPIO"] = df_14["MUNICIPIO"].astype ('category')
df_14["NOME ESTABELECIMENTO"] = df_14["NOME ESTABELECIMENTO"].astype ('category')
df_14["DS_TIPO_UNIDADE"] = df_14["DS_TIPO_UNIDADE"].astype ('category')
df_14["DESC_NATUREZA_JURIDICA"] = df_14["DESC_NATUREZA_JURIDICA"].astype ('category')
df_14["NO_LOGRADOURO"] = df_14["NO_LOGRADOURO"].astype ('category')
df_14["NU_ENDERECO"] = df_14["NU_ENDERECO"].astype ('category')
df_14["NO_BAIRRO"] = df_14["NO_BAIRRO"].astype ('category')
df_14["NO_BAIRRO"] = df_14["NO_BAIRRO"].astype ('category')

df_15["REGIAO"] = df_15["REGIAO"].astype ('category')
df_15["UF"] = df_15["UF"].astype ('category')
df_15["MUNICIPIO"] = df_15["MUNICIPIO"].astype ('category')
df_15["NOME ESTABELECIMENTO"] = df_15["NOME ESTABELECIMENTO"].astype ('category')
df_15["DS_TIPO_UNIDADE"] = df_15["DS_TIPO_UNIDADE"].astype ('category')
df_15["DESC_NATUREZA_JURIDICA"] = df_15["DESC_NATUREZA_JURIDICA"].astype ('category')
df_15["NO_LOGRADOURO"] = df_15["NO_LOGRADOURO"].astype ('category')
df_15["NU_ENDERECO"] = df_15["NU_ENDERECO"].astype ('category')
df_15["NO_BAIRRO"] = df_15["NO_BAIRRO"].astype ('category')
df_15["NO_BAIRRO"] = df_15["NO_BAIRRO"].astype ('category')

df_16["REGIAO"] = df_16["REGIAO"].astype ('category')
df_16["UF"] = df_16["UF"].astype ('category')
df_16["MUNICIPIO"] = df_16["MUNICIPIO"].astype ('category')
df_16["NOME ESTABELECIMENTO"] = df_16["NOME ESTABELECIMENTO"].astype ('category')
df_16["DS_TIPO_UNIDADE"] = df_16["DS_TIPO_UNIDADE"].astype ('category')
df_16["DESC_NATUREZA_JURIDICA"] = df_16["DESC_NATUREZA_JURIDICA"].astype ('category')
df_16["NO_LOGRADOURO"] = df_16["NO_LOGRADOURO"].astype ('category')
df_16["NU_ENDERECO"] = df_16["NU_ENDERECO"].astype ('category')
df_16["NO_BAIRRO"] = df_16["NO_BAIRRO"].astype ('category')
df_16["NO_BAIRRO"] = df_16["NO_BAIRRO"].astype ('category')

df_17["REGIAO"] = df_17["REGIAO"].astype ('category')
df_17["UF"] = df_17["UF"].astype ('category')
df_17["MUNICIPIO"] = df_17["MUNICIPIO"].astype ('category')
df_17["NOME ESTABELECIMENTO"] = df_17["NOME ESTABELECIMENTO"].astype ('category')
df_17["DS_TIPO_UNIDADE"] = df_17["DS_TIPO_UNIDADE"].astype ('category')
df_17["DESC_NATUREZA_JURIDICA"] = df_17["DESC_NATUREZA_JURIDICA"].astype ('category')
df_17["NO_LOGRADOURO"] = df_17["NO_LOGRADOURO"].astype ('category')
df_17["NU_ENDERECO"] = df_17["NU_ENDERECO"].astype ('category')
df_17["NO_BAIRRO"] = df_17["NO_BAIRRO"].astype ('category')
df_17["NO_BAIRRO"] = df_17["NO_BAIRRO"].astype ('category')

df_18["REGIAO"] = df_18["REGIAO"].astype ('category')
df_18["UF"] = df_18["UF"].astype ('category')
df_18["MUNICIPIO"] = df_18["MUNICIPIO"].astype ('category')
df_18["NOME ESTABELECIMENTO"] = df_18["NOME ESTABELECIMENTO"].astype ('category')
df_18["DS_TIPO_UNIDADE"] = df_18["DS_TIPO_UNIDADE"].astype ('category')
df_18["DESC_NATUREZA_JURIDICA"] = df_18["DESC_NATUREZA_JURIDICA"].astype ('category')
df_18["NO_LOGRADOURO"] = df_18["NO_LOGRADOURO"].astype ('category')
df_18["NU_ENDERECO"] = df_18["NU_ENDERECO"].astype ('category')
df_18["NO_BAIRRO"] = df_18["NO_BAIRRO"].astype ('category')
df_18["NO_BAIRRO"] = df_18["NO_BAIRRO"].astype ('category')

df_19["REGIAO"] = df_19["REGIAO"].astype ('category')
df_19["UF"] = df_19["UF"].astype ('category')
df_19["MUNICIPIO"] = df_19["MUNICIPIO"].astype ('category')
df_19["NOME ESTABELECIMENTO"] = df_19["NOME ESTABELECIMENTO"].astype ('category')
df_19["DS_TIPO_UNIDADE"] = df_19["DS_TIPO_UNIDADE"].astype ('category')
df_19["DESC_NATUREZA_JURIDICA"] = df_19["DESC_NATUREZA_JURIDICA"].astype ('category')
df_19["NO_LOGRADOURO"] = df_19["NO_LOGRADOURO"].astype ('category')
df_19["NU_ENDERECO"] = df_19["NU_ENDERECO"].astype ('category')
df_19["NO_BAIRRO"] = df_19["NO_BAIRRO"].astype ('category')
df_19["NO_BAIRRO"] = df_19["NO_BAIRRO"].astype ('category')

df_20["REGIAO"] = df_20["REGIAO"].astype ('category')
df_20["UF"] = df_20["UF"].astype ('category')
df_20["MUNICIPIO"] = df_20["MUNICIPIO"].astype ('category')
df_20["NOME ESTABELECIMENTO"] = df_20["NOME ESTABELECIMENTO"].astype ('category')
df_20["DS_TIPO_UNIDADE"] = df_20["DS_TIPO_UNIDADE"].astype ('category')
df_20["DESC_NATUREZA_JURIDICA"] = df_20["DESC_NATUREZA_JURIDICA"].astype ('category')
df_20["NO_LOGRADOURO"] = df_20["NO_LOGRADOURO"].astype ('category')
df_20["NU_ENDERECO"] = df_20["NU_ENDERECO"].astype ('category')
df_20["NO_BAIRRO"] = df_20["NO_BAIRRO"].astype ('category')
df_20["NO_BAIRRO"] = df_20["NO_BAIRRO"].astype ('category')

df_21["REGIAO"] = df_21["REGIAO"].astype ('category')
df_21["UF"] = df_21["UF"].astype ('category')
df_21["MUNICIPIO"] = df_21["MUNICIPIO"].astype ('category')
df_21["NOME ESTABELECIMENTO"] = df_21["NOME ESTABELECIMENTO"].astype ('category')
df_21["DS_TIPO_UNIDADE"] = df_21["DS_TIPO_UNIDADE"].astype ('category')
df_21["DESC_NATUREZA_JURIDICA"] = df_21["DESC_NATUREZA_JURIDICA"].astype ('category')
df_21["NO_LOGRADOURO"] = df_21["NO_LOGRADOURO"].astype ('category')
df_21["NU_ENDERECO"] = df_21["NU_ENDERECO"].astype ('category')
df_21["NO_BAIRRO"] = df_21["NO_BAIRRO"].astype ('category')
df_21["NO_BAIRRO"] = df_21["NO_BAIRRO"].astype ('category')

df_22["REGIAO"] = df_22["REGIAO"].astype ('category')
df_22["UF"] = df_22["UF"].astype ('category')
df_22["MUNICIPIO"] = df_22["MUNICIPIO"].astype ('category')
df_22["NOME ESTABELECIMENTO"] = df_22["NOME ESTABELECIMENTO"].astype ('category')
df_22["DS_TIPO_UNIDADE"] = df_22["DS_TIPO_UNIDADE"].astype ('category')
df_22["DESC_NATUREZA_JURIDICA"] = df_22["DESC_NATUREZA_JURIDICA"].astype ('category')
df_22["NO_LOGRADOURO"] = df_22["NO_LOGRADOURO"].astype ('category')
df_22["NU_ENDERECO"] = df_22["NU_ENDERECO"].astype ('category')
df_22["NO_BAIRRO"] = df_22["NO_BAIRRO"].astype ('category')
df_22["NO_BAIRRO"] = df_22["NO_BAIRRO"].astype ('category')

In [71]:
df_13.dtypes

REGIAO                    category
UF                        category
MUNICIPIO                 category
NOME ESTABELECIMENTO      category
DS_TIPO_UNIDADE           category
NATUREZA_JURIDICA            int64
DESC_NATUREZA_JURIDICA    category
NO_LOGRADOURO             category
NU_ENDERECO               category
NO_BAIRRO                 category
LEITOS EXISTENTE             int64
LEITOS SUS                   int64
UTI TOTAL - EXIST            int64
UTI TOTAL - SUS              int64
UTI PEDIATRICO - EXIST       int64
UTI PEDIATRICO - SUS         int64
dtype: object

In [72]:
df_13 = df_13.drop_duplicates()
df_14 = df_14.drop_duplicates()
df_15 = df_15.drop_duplicates()
df_16 = df_16.drop_duplicates()
df_17 = df_17.drop_duplicates()
df_18 = df_18.drop_duplicates()
df_19 = df_19.drop_duplicates()
df_20 = df_20.drop_duplicates()
df_21 = df_21.drop_duplicates()
df_22 = df_22.drop_duplicates()

Neste ponto irei criar uma coluna com o nome 'Ano" para que possa fazer a junção das tabelas.

In [73]:
df_13["Ano"] = 2013
df_14["Ano"] = 2014
df_15["Ano"] = 2015
df_16["Ano"] = 2016
df_17["Ano"] = 2017
df_18["Ano"] = 2018
df_19["Ano"] = 2019
df_20["Ano"] = 2020
df_21["Ano"] = 2021
df_22["Ano"] = 2022

<ipython-input-73-2fc9acbb6c62>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_22["Ano"] = 2022

In [74]:
df_leitos = pd.concat([df_13,df_14,df_15,df_16,df_17,df_18,df_19,df_20,df_21,df_22])